<header class="topnav">
    <a href="/">Shop</a>
    <a href="/cart">Cart</a>
    <a href="/admin/addproduct">Add product</a>
    <a href="/admin/listproducts">Admin products List</a>
    <a href="/admin/userlist">Users</a>
    <a href="/admin/adduser">Add User</a>
    <a href="/frontend/login">Login</a>
</header>